<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->

<div id="word_list" class="row">
  <div class="row">
    {% for word in g.vocab %}

      <div class="col-xs-2 text-center">
      {% if word|in_matched %}
        <del>{{ word }}</del>
      {% else %}
        {{ word }}
      {% endif %}
      </div>
      {% if loop.index is divisibleby 3 %}
      </div> <!-- row -->
      <div class="row">
      {% endif %}
    {% endfor %}
  </div> <!-- row -->
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id="jumble">{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<h2 id="item_found"></h2>
<p id="results"></p>

<script>

// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });
// Author: Adam Case
//
// Credits:
// *Ziyad Alsaeed and Ram Durairajan - Starter/reference code
// *MDN Web Docs - Methods in Window
// (https://developer.mozilla.org/en-US/docs/Web/API/Window)

// On each keystroke, ask the server whether the current
// word is long enough.
//
// We use 'keyup' because the form value
// is updated before that event is generated.
// keypress is triggered before the input field has been
// updated.  Be aware that we'll see non-character keys like
// shift and control, so make sure whatever you do with the
// event does not depend on it being a letter.
//
$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);
   var lower_letter = letter.toLowerCase();
   var jumble = $("#jumble").text();

   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

   if (! jumble.includes(lower_letter)) {
     $("#attempt").val(txt.replace(lower_letter, ""));
     return
   }

   $.getJSON( "/_check", { text: txt },
              function(data) {
                matches = data.result.matches;
                console.log("Tested Text: " + txt)
                console.log("match: " +  data.checks.match)
                console.log("in jubmle: " + data.checks.in_jumble)
                console.log("complete: " + data.checks.complete)

                console.log("matches: " + matches)
                console.log("match length: " + matches.length)

                if (matches.length > 0) {
                  $("#item_found").html("You have found:");
                  $("#results").html(data.result.matches_string);
                  $("#word_list").load("/_update_word_list #word_list")
                  if (data.checks.complete) {
                    location = "success";
                  }
                }
               }
           );
});





</script>

 </div> <!-- container -->
</body> </html>
